body {
    box-sizing: border-box;
    margin: 0;
    background-color: #0A273B;
    color: #E46432;
    padding: 10px;
    font-family: 'VT323', monospace;
    height: 100vh;
}

/* HEADER */
.header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo,
.wallet {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-align: center;
}

.wallet {
    font-size: 28px;
    margin-right: 25px;
}

/* LOTTERY BOX */
.main-container {
    width: 100%;
    height: 85%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;

}

.loto-box {
    margin: 0px auto;
    width: 45%;
    height: 325px;
    border: groove #E46432 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #49E9A6;
    box-sizing: border-box;

}

.top-row,
.middle-row,
.bottom-row {
    width: 100%;
}

.top-row {
    height: 20%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

.status {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.status-title {
    color: #0A273B;
}

.status-light {
    display: block;
    width: 10px;
    height: 10px;
    border: solid #0A273B 3px;
    border-radius: 100px;
    background-color: #E46432;
    /* when lottery is closed color is #0A273B */
    margin: 0px;
    padding: 0px;
}

.deposit-box {
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    gap: 5px;
}

.deposit-title {
    color: #0A273B;
    font-size: 22px;
}

.deposit-box input {
    height: 30%;
    width: 20%;
    border: solid #0A273B .1px;
    border-radius: 5px;
    background: none;
}

.middle-row {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle-row input {
    background: #0A273B;
    color: #E46432;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;

}


.enter-lottery-button {
    height: 50%;
    width: 60%;
    border: #E46432 solid 1px;
    font-size: 46px;
    background-image: linear-gradient(to right, #0A273B 0%, #0A273B 81%, #0A273B 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 1ms;
    background-size: 200% auto;
    color: #E46432;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-family: 'VT323', monospace;
    box-shadow: 0 5px #E46432;
}

.enter-lottery-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.enter-lottery-button:active {
    box-shadow: 0 2px #0A273B;
    transform: translateY(4px);
    border: none;
}

.bottom-row {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.rules {
    height: 100%;
    width: 63%;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #0A273B;
    border-bottom: none;
}

.rules p {
    margin: 0px;
    font-size: 25px;
    margin-right: -10px;
}

.rule-list {
    margin: 0px;
    font-size: 17px;
    color: #41469D;
}

.fees {
    height: 100%;
    width: 33%;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    font-size: 24px;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: #41469D;
    border-bottom: none;
    gap: 5px;
}

.fee-title {
    color: #0A273B;
}

/* LOTTERY LOG */
.toggle-log {
    margin: -10px auto;
    height: 20px;
    width: 175px;
    padding: 5px;
    /* border: #E46432 solid .1px; */
    border-radius: 25px;
    background-color: #E46432;
    color: #0A273B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.lottery-log {
    height: 350px;
    width: 70%;
    margin: 0px;
    /* border: #E46432 solid .1px; */
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #0A273B;
    display: flex;
    font-size: 32px;
    opacity: 0;
}

.log-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 5px auto;
    width: 100%;
}