/** Style for Mobile*/

@media screen and (max-width: 500px) and (orientation: landscape) {}

@media (min-height: 680px) and (max-width: 500px),
screen and (orientation: portrait) {

    .header {
        padding-top: 40px;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 110px;
    }
    .logo {
        width: 100%;
        font-size: 60px;
    }
    .wallet {
        margin-right: 0px;
        width: 100%;

    }
    .loto-box {
        justify-content: space-evenly;
        width: 100%;
    }

    .middle-row {
        height: 40%;
    }

    .enter-lottery-button {
        width: 100%;
        height: 100%;
    }

    .status {
        width: 30%;
    }

    .lottery-balance-container {
        width: 50%;
        flex-direction: column;
    }

    .lottery-balance {
        font-size: 24px;
        margin: 0 auto;
    }

    .lottery-balance-title {
        font-size: 22px;
        margin: 0 auto;
    }

    .rules {
        margin: 0px;
    }

    .rule-list {
        padding-left: 23px;
        font-size: 16px;
    }

    .bottom-row {
        padding-bottom: 0px;
        height: 30%;
    }

    .timer {
        width: 40%;
        justify-content: center;
        gap: 0px;
    }
    .timer-title {
        font-size: 20px;
    }
    .timer p {
        text-align: center;
        font-size: 22px;
    }
    .recent-winner {
       font-size: 20px; 
    }
    .amount-won {
        font-size: 35px;
    }
}