body {
    box-sizing: border-box;
    margin: 0;
    background-color: #0A273B;
    color: #E46432;
    padding: 10px;
    font-family: 'VT323', monospace;
    height: 100vh;
    width: 100%;
}

/* HEADER */
.header {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.wallet {
    font-family: 'VT323', monospace;
    background: none;
    color: #E46432;
    border: none;
    cursor: pointer;
    width: 98%;
    font-size: 20px;
    padding: 10px 10px 0 0;
    display: block;
    text-align: right;
}

.wallet:active {
    transform: translateY(4px);
}

.logo {
    width: 100%;
    font-size: 60px;
    margin: auto;
}


/* LOTTERY BOX */
.main-container {
    max-width: 400px;
    padding: 0px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.loto-box {
    margin: 0px auto;
    width: 100%;
    border: solid #E46432 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #49E9A6;
    box-sizing: border-box;
    padding: 20px 25px;
    gap: 20px;

}

.top-row,
.middle-row,
.bottom-row {
    width: 100%;
}

.top-row {
    display: flex;
    justify-content: space-between;
}

.status {
    height: 100%;
    justify-content: left;
    align-items: center;
    gap: 5px;
    font-size: 32px;
    width: 30%;
    display: none;
}

.status-title {
    color: #0A273B;
}

.status-light {
    display: block;
    width: 10px;
    height: 10px;
    border: solid #0A273B 3px;
    border-radius: 100px;
    background-color: #E46432;
    margin: 0px;
    padding: 0px;
}

.lottery-balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A273B;
    font-size: 31px;
    width: 100%;
    flex-direction: column;
}

.lottery-balance-title {
    color: #0A273B;
    font-size: 28px;
    margin: 0 auto;
}

.lottery-balance {
    font-size: 33px;
    margin: 0 auto;
    color: #41469D;
}

.middle-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10px;
}

.enter-lottery-button {
    border: #E46432 solid 1px;
    background-image: linear-gradient(to right, #0A273B 0%, #0A273B 81%, #0A273B 100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 1ms;
    background-size: 200% auto;
    color: #E46432;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    font-family: 'VT323', monospace;
    box-shadow: 0 5px #E46432;
    height: 80px;
    font-size: calc(1.25vw + 1.75rem);
    padding: 0 40px;
    white-space: nowrap;


}

.enter-lottery-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.enter-lottery-button:active {
    box-shadow: 0 2px #0A273B;
    transform: translateY(4px);
    border: none;
}

.bottom-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.rules {
    height: 100%;
    padding: 0;
    color: #0A273B;
    border-bottom: none;
    margin: 0px;
    width: 100%;
}

.rules p {
    margin: 0px;
    font-size: 28px;
    margin-right: -10px;
}

.rule-list {
    padding-left: 23px;
    font-size: 20px;
    color: #41469D;
    display: none;
}

.toggle-rules {
    margin: 0 auto 10px;
    height: 20px;
    width: 150px;
    padding: 5px 7px;
    border-radius: 25px;
    background-color: #0A273B;
    color: #49E9A6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17.5px;
    cursor: pointer;
    border: #E46432 solid .1px;
    box-shadow: 0 1px #E46432;
}

.close-rules {
    margin: 0 auto 10px;
    height: 20px;
    width: 150px;
    padding: 5px 7px;
    border-radius: 25px;
    background-color: #0A273B;
    color: #49E9A6;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    border: #E46432 solid .1px;
    box-shadow: 0 1px #E46432;
}

.toggle-rules:active,
.close-rules:active {
    transform: translateY(1px);
    box-shadow: 0 0px #E46432;
    border: none;
}

.timer {
    height: 100%;
    display: flex;
    font-size: 28px;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    color: #41469D;
    border-bottom: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.timer p {
    margin: 0px;
    text-align: center;
    font-size: 25px;
}

.timer-title {
    color: #0A273B;
    font-size: 25px;
}


/* LOTTERY LOG */
.lottery-log {
    width: 100%;
    margin: 10px 0px;
    padding-top: 20px;
    /* border: #E46432 solid .1px; */
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #0A273B;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms;
}

.recent-winner-title {
    font-size: 25px;
}

.recent-winner {
    font-size: 20px;
}

.amount-won {
    font-size: 35px;
}

.log-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 10px auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 55px;

}

.toggle-log {
    margin: 20px auto -10px;
    height: 20px;
    width: 175px;
    padding: 5px;
    border-radius: 25px;
    background-color: #E46432;
    color: #0A273B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.close-log {
    margin: 20px auto -10px;
    height: 20px;
    width: 175px;
    padding: 5px;
    border-radius: 25px;
    background-color: #E46432;
    color: #0A273B;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}


/* Styles for tablets and browsers */
@media screen and (min-width: 768px) {
    .header {
        padding-top: 60px;
        margin-bottom: 60px;
    }

    .main-container {
        max-width: 500px;
    }

    /* 
    .enter-lottery-button {
        font-size: 43px;
    } */

    .lottery-balance-title {
        font-size: 28px;
    }

    .wallet {
        font-size: 30px;
        margin-right: 80px;
    }

    .recent-winner-title {
        font-size: 34px;
    }

    .recent-winner {
        font-size: 60px;
    }

    .amount-won {
        font-size: 60px;
    }

    .timer-title {
        font-size: 25px;
    }

    .timer p {
        font-size: 28px;
    }

    .toggle-rules,
    .close-rules {
        padding: 5px 10px;
        font-size: 18px;
    }

    .rule-list {
        padding-left: 50px;
        font-size: 20px;
        color: #41469D;
    }
}

/* Galaxy Fold */
@media screen and (max-width: 300px) {
    .enter-lottery-button {
        padding: 0 15px;
        height: 60px;
    }

    .wallet {
        padding: 10px 0px;
        text-align: center;
        font-size: 15px;
    }
}